*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* I used gap of 50px because bootstrap has no option for gap of this width*/
.product-items{
    gap: 50px !important ;
}
.contact-info{
    gap: 80px !important ;
}
